##### Fake news detection

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import re
import string

In [3]:
df_train = pd.read_csv('train.csv')
df_train.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [4]:
df_train.shape

(20800, 5)

label = 1 Not Fake News,Label = 0 Fake News

In [5]:
df_train = df_train.drop(['title','author'],axis=1)
df_train.head()

   id                                               text  label
0   0  House Dem Aide: We Didn’t Even See Comey’s Let...      1
1   1  Ever get the feeling your life circles the rou...      0
2   2  Why the Truth Might Get You Fired October 29, ...      1
3   3  Videos 15 Civilians Killed In Single US Airstr...      1
4   4  Print \nAn Iranian woman has been sentenced to...      1

In [6]:
df_train.columns

Index(['id', 'text', 'label'], dtype='object')

Creating a function to convert the text in lowercase, remove the extra space, special chr., ulr and links.

In [7]:
def word_drop(text):
   
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

change the text to str

In [8]:
df_train['text'] = df_train['text'].apply(str)

apply the word_drop func.

In [9]:
df_train['text'] = df_train['text'].apply(word_drop)

In [10]:
df_train.head()

   id                                               text  label
0   0  house dem aide  we didn t even see comey s let...      1
1   1  ever get the feeling your life circles the rou...      0
2   2  why the truth might get you fired october     ...      1
3   3  videos  civilians killed in single us airstrik...      1
4   4  print  an iranian woman has been sentenced to ...      1

determine dependent and independent var.

In [11]:
x = df_train['text']
y = df_train['label']

split train and test

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

# Logistic Regression

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
vectorizer = TfidfVectorizer()
xvec_train = vectorizer.fit_transform(x_train)
xvec_test = vectorizer.transform(x_test)

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
LR = LogisticRegression()
LR.fit(xvec_train,y_train)

LogisticRegression()

# Accuracy score

In [17]:
LR.score(xvec_test,y_test)

0.9416666666666667

In [18]:
pred_LR = LR.predict(xvec_test)

In [19]:
print(classification_report(y_test,pred_LR))

              precision    recall  f1-score   support

           0       0.95      0.93      0.94      3104
           1       0.93      0.95      0.94      3136

    accuracy                           0.94      6240
   macro avg       0.94      0.94      0.94      6240
weighted avg       0.94      0.94      0.94      6240

# Classification Decision Tree

In [20]:
from sklearn.tree import DecisionTreeClassifier

In [21]:
DT = DecisionTreeClassifier()
DT.fit(xvec_train,y_train)

DecisionTreeClassifier()

Accurancy Score

In [22]:
DT.score(xvec_test,y_test)

0.8873397435897435

In [23]:
pred_DT = DT.predict(xvec_test)

In [24]:
print(classification_report(y_test,pred_DT))

              precision    recall  f1-score   support

           0       0.89      0.88      0.89      3104
           1       0.88      0.90      0.89      3136

    accuracy                           0.89      6240
   macro avg       0.89      0.89      0.89      6240
weighted avg       0.89      0.89      0.89      6240

# Submmision File

In [27]:
df_test = pd.read_csv('test.csv')
df_test.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [30]:
df_test['text'] = df_test['text'].apply(str)
df_test['text'] = df_test['text'].apply(word_drop)
df_test.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,palo alto calif after years of scorning...
1,20801,Russian warships ready to strike terrorists ne...,NaN,russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,videos nodapl native american leaders vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,if at first you don t succeed try a different...
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,mins ago views comments likes for the fir...

In [31]:
new_test=df_test['text']
new_xvec_test = vectorizer.transform(new_test)
pred_LR = LR.predict(new_xvec_test)
pred_DT = DT.predict(new_xvec_test)
submit = pd.read_csv('submit.csv')
submit['label_LR'] =  pred_LR
submit['label_DT'] = pred_DT

submit.to_csv("submission.csv" ,index=False)